body {
    overflow: hidden;
  } 

  @font-face {
    font-family: 'Avant Garde Gothic';
    src: url('https://fonts.googleapis.com/css2?family=ITC+Avant+Garde+Gothic+Std:wght@700&display=swap');
    font-weight: bold;
    font-style: normal;
  } 

  
  #image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    max-width: none;
  } 

  
  #background {
    font-family: 'Avant Garde Gothic', sans-serif;
    position: fixed;
    top: calc(50% + 180px); /* position element 375px below the center of the screen */
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    color: rgb(255, 255, 255); 
    letter-spacing: -3px; 
    background-color: #000000; /* red */
  }
  
  
  

  #headlines { 
    animation: scroll 40s linear infinite; /* constant speed */
    white-space: pre-line; 
    line-height: 0;
    font-family: 'Avant Garde Gothic', sans-serif;
    font-weight: medium; 
    letter-spacing: -0.1px; 
    

  } 

  
  @keyframes scroll {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
  }
  
  #headlines p {
    display: inline-block;
    overflow-wrap: normal;
    text-align: center; 

  }
  